.root {
    -fx-background-color: #111111;
    -fx-text-fill: white;
    -fx-font-family: Verdana;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.editclass {
    -fx-background-color: #111111;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-padding: 10px;
}
